<div>

  <router-link class="nav-link"
    :to="{ name: 'products' }">< Regresar a productos</router-link>

  <h1 class="h2" style="margin-bottom: 1em">Carrito de pedidos</h1>

  <div class="row">
    <div class="col-6">
      <select class="custom-select" v-model="agentId">
        <option v-for="agent in agents" :value="agent.id">[[ agent.name ]] ([[ agent.email ]])</option>
      </select>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-primary" @click="makeOrder()" :disabled="makingOrder">Realizar pedido</button>
    </div>
  </div><br><br>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Código</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products">
          <td>[[ product.name ]]</td>
          <td>[[ product.code ]]</td>
          <td>[[ product.quantity ]]</td>
          <td>S/ [[ product.price ]]</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
