<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="">
          <span data-feather="home"></span>
          Repcas  - {{ request.profile }}
        </a>
      </li>
      <hr>

      <li class="nav-item">
        <router-link class="nav-link "
          :class="{ active : $route.name === 'invoices' }"
          :to="{ name: 'invoices' }">Estados de cuenta</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link"
          :class="{ active : $route.name === 'products' }"
          :to="{ name: 'products' }">Productos</router-link>
      </li>
      <!-- <li class="nav-item">
        <router-link class="nav-link"
          :class="{ active : $route.name === 'quotations' }"
          :to="{ name: 'quotations' }">Cotizaciones</router-link>
      </li> -->

      <hr>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/logout/">
          <span data-feather="layers"></span>
          Cerrar sesión
        </a>
      </li>
    </ul>

  </div>
</nav>
