{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}Repcas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- <link rel="shortcut icon" href="{% static 'main/img/favicon.ico' %}"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/app.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <meta property="og:site_name" content="Report"/>
  </head>
  <body>
  <nav navbar navbar-expand-md navbar-dark fixed-top bg-dark>
    <a class="logo" href="/"><i class="fa fa-pie-chart" aria-hidden="true"></i> Repcas</a>
    <ul class="right">
      {% if user.is_authenticated %}
      <li class="expander">
        <a class="expander-button" id="expander-button-2" href="javascript:void(0)">
          {% if user.profile.avatar %}
          <span class="avatar" style="background:url('{{ user.profile.avatar.url }}');"></span> {{ user.username }}
          {% else %}
          <span class="avatar" style="background:url('{% static 'main/img/user.jpg' %}');"></span> {{ user.username }}
          {% endif %}
        </a>
        <ul class="expander-content" id="expander-content-2">
          {% comment %}
          <li><a href="{% url 'accounts:profile' %}">Perfil</a></li>
          <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
          {% endcomment %}
        </ul>
      </li>
      {% else %}

      <li><a href="{% url 'login' %}">Iniciar sesión</a></li>

      {% endif %}
    </ul>
  </nav>

  <main>
    <div class="container">
      {% block content %}
      {% endblock %}

      {% include "main/components/message.html" %}
    </div>
  </main>

  <footer>
    &copy; {% now "Y" %} Repcas
  </footer>

  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  {% comment %}
    <script src="{% static 'main/js/moment.js' %}"></script>
    <script src="{% static 'main/js/pickaday.js' %}"></script>
    <script src="{% static 'main/js/script.js' %}"></script>
  {% endcomment %}

</html>
