{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>REPCAS</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="/static/main/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="{% static 'main/img/logo.png' %}" alt="" height="70">
        </div>
        <nav>
          <ul>
            <li>
              <a href="{% url 'main:home' %}">
                Inicio
              </a>
            </li>
            <li>
              <a href="{% url 'main:home' %}#nosotros">
                Nosotros
              </a>
            </li>
            <li>
              <a href="{% url 'main:home' %}#partners">
                Partners
              </a>
            </li>
            <li>
              <a href="{% url 'main:home' %}#contactanos">
                Contactanos
              </a>
            </li>
            <li>
              <a href="{% url 'main:promotions' %}">
                Promociones
              </a>
            </li>
            <li>
              <a href="{% url 'login' %}">
                Servicio al cliente
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
      <div class="header-view" style="background-image: url('/static/main/img/cabeceras/servicio-cliente.jpg');">
      </div>
      <main class="background-img-general text-white" style="background-image: url('/static/main/img/background-red.png'); height: 100%;">
        <div class="login">
          <h1>
            <strong>Únete a Repcas</strong>
          </h1>
          <p>
            Déjanos tu correo y el ruc de la empresa para que la trabajas y nos pondremos en contacto contigo.
          </p>
          <br>
          <br>
          <form method="post" action=".">
            {% csrf_token %}
            <div class="row">
              <div class="col-6">
                <label for="">Nombres y Apellidos</label>
              </div>
              <div class="col-6">
                <input type="text" name="full_name" required="">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="">RUC</label>
              </div>
              <div class="col-6">
                <input type="text" name="ruc" maxlength="11" required="">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="">Email</label>
              </div>
              <div class="col-6">
                <input type="email" name="email" required="">
              </div>
            </div>

            <br>
            <input type="submit" name="" value="Solicitar acceso" class="btn-2">
            <a href="{% url 'login' %}"
            style="color: #ededed;
            padding: 1em;
            display: inline-block;">¿Ya tiene una cuenta? Ingrese aquí</a>
          </form>
        </div>
      </main>
  </body>
  <script type="text/javascript">
  $(window).scroll(function() {
    var scroll = $(window).scrollTop();

    if (scroll >= 76) {
      $("header").addClass("header-scroll-2");

    } else {
      $("header").removeClass("header-scroll-2");
    }
  });
  </script>
</html>
