{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>REPCAS</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="/static/main/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="{% static 'main/img/logo.png'%}" alt="" height="70">
        </div>
        <nav>
          <ul>
            <li>
              <a href="{% url 'main:home' %}">
                Inicio
              </a>
            </li>
            <li>
              <a href="{% url 'main:home' %}#nosotros">
                Nosotros
              </a>
            </li>
            <li>
              <a href="{% url 'main:home' %}#partners">
                Partners
              </a>
            </li>
            <li>
              <a href="{% url 'main:home' %}#contactanos">
                Contactanos
              </a>
            </li>
            <li>
              <a href="{% url 'main:promotions' %}">
                Promociones
              </a>
            </li>
            <li>
              <a href="{% url 'login' %}">
                Servicio al cliente
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
      <div class="header-view" style="background-image: url('/static/main/img/cabeceras/servicio-cliente.jpg'); height: 290px;">
        SERVICIO AL CLIENTE
      </div>
      <main class="background-img-general text-white" style="background-image: url('/static/main/img/background-red.png'); height: 100%;">
        <div class="login">
          <img src="{% static 'main/img/client-login-icons.png' %}" alt="">
          <br>
          <br>
          <br>
          <h1>
            <strong>Servicio Cliente Extranet</strong>
          </h1>
          <p>
            ACCESO DE USUARIO REGISTRADO
          </p>
          <br>
          <form method="post" action="{% url 'login' %}" id="loginForm">
            {% csrf_token %}
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <div class="input-error">{{ error }}</div>
              {% endfor %}
            {% endif %}
            <div class="row">
              <div class="col-6">
                <label for="">Usuario</label>
              </div>
              <div class="col-6">
                {% include 'main/components/form_input.html' with field=form.username %}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="">Contraseña</label>
              </div>
              <div class="col-6">
                {% include 'main/components/form_input.html' with field=form.password %}
              </div>
            </div>
            <br>
            <input type="submit" name="" value="Ingresar al sistema" class="btn-2"><br>
            <a href="{% url 'accounts:join' %}"
              style="color: #ededed;
              padding: 1em;
              display: inline-block;">¿No tiene una cuenta? Solicite acceso al sistema</a>
          </form>
        </div>
      </main>
      <script>
        $('#loginForm').submit(function() {
          localStorage.setItem('cart', JSON.stringify([]))
          return true
        })

        $(window).scroll(function() {
          var scroll = $(window).scrollTop();

          if (scroll >= 76) {
            $("header").addClass("header-scroll-2");

          } else {
            $("header").removeClass("header-scroll-2");
          }
        });
      </script>
  </body>
</html>
